  /* /* --color-bg: #0e141b;
  --color-bg-offset: #252526;
  --color-text: #ffffff;
  --color-text-offset: #818a91;
  --color-border: #2d2d2d;
  --color-primary: #ff5277;
  --color-primary-offset: #ff2957;
  --color-secondary: #43a9a3; */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

html, body {
  width: 100%;
  height: 100%;
}

body {
  background-color: #0e141b;
  color: #fafafa;
  scroll-behavior: smooth;
}

a {
  text-decoration: none;
  color: inherit;
}
/* NAVBAR ESTILOS */

.header {
  width: 100%;
  position: fixed;
  top: 0;
  z-index: 999;
  background-color: #0e141b;
}

.navbar {
  width: 100%;
  padding: 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar_image-content {
  display: flex;
  align-items: center;
  gap: 20px;
  cursor: pointer;
}

.navbar_image-content-container {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  overflow: hidden;
  transition: transform 300ms ease;
  flex-shrink: 0;
}

.navbar_image-content-container img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.navbar_image-content-container:hover {
  transform: scale(1.2);
}

.navbar_image-content-text {
  font-size: 1.5rem;
}

.navbar_image-content-text p:hover {
  color: #ae0000;
}


/* NAVBAR LIST */

.navbar_list {
  display: flex;
  gap: 20px;
  justify-content: center;
  align-items: center;
}


.label-contenedor {
  display: none;
}

.label-checkbox {
  width: 40px;
  height: 40px;
  display: none;
  cursor: pointer;
  position: fixed;
  right: 30px;
  z-index: 1001;
} 

.label-checkbox-image {
  width: 100%;
  height: 100%;
}

.checkbox {
  display: none;
}

.menu-contenedor {
  position: fixed;
  top: -100vh;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: #19212a;
  /* background-color: #0e141b; */
  display: flex;
  justify-content: center;
  align-items: center;
  transition: top 0.3s ease;
  z-index: 1000;
}

.menu-contenedor ul {
  list-style: none;
  padding: 0;
  margin: 0;
  text-align: center;
}

.menu-contenedor ul li {
  margin: 20px 0;
}

.menu-contenedor ul li a {
  color: #e0e0e0;
  text-decoration: none;
  font-size: 2rem;
}

.navbar_list ul{
  margin: 0;
  padding: 0;
  display: flex;
  list-style-type: none;
  gap: 20px;
  font-size: 1.3rem;
  cursor: pointer;
}

.navbar_list ul li {
  padding: 5px;
  transition: transform 200ms ease;
}

.navbar_list ul li:hover{
  transform: scale(1.1);
  font-weight: bold;
  border-radius: 10px;
  color: #222;
  background-color: #f0f0f0; 
}

/* DESCRIPTION */

.content {
  max-width: 100%;
  width: 80%;
  margin: 0 auto;
  text-align: center;
  padding-top: 4rem;
}



.description {
  padding: 5rem 0;
  text-align: left;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-bottom: 1rem;
}

.red-text-container {
  margin-bottom: 1.3rem;
}

.red-text {
  text-transform: uppercase;
  color: #ff335f;
  font-size: 1.4rem;
}

.h1-title-container {
  margin-bottom: 1.7rem;
}

.h1-title {
  font-size: 3rem;
  font-family: serif;
}

.own-description-container {
  font-size: 1.2rem;
}

.own-description {
  line-height: 2rem;
}

.description-img-container-container {
  padding: 2rem 0 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.description-img-container {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  overflow: hidden; 
  overflow: hidden;
}

.description-img-container img {
  object-fit: cover;
  width: 100%;
}

/* TECNOLOGIAS SECCION */

.tecnologias {
  padding: 5rem 0rem;
  display: flex;
  gap: 3rem;
  flex-direction: column;
  justify-content: start;
  margin-bottom: 1rem;
}

.tecnologias h2 {
  font-size: 2rem;
  color: #ffffff;
  text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.7);
  position: relative;
}

.tecnologias h2::after {
  content: '';
  display: block;
  width: 70%;
  height: 4px;
  background-color: #3E5066;
  margin: 0.5rem auto 0;
  border-radius: 2px;
}


.tecnologias-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(100px, 1fr));
  column-gap: 4rem;
  row-gap: 6rem;
  justify-items: center;
  align-items: center;
}

.tecnologias-logo {
  width: 100px;
  height: 100px;
  transition: transform 200ms ease;
}

.tecnologias-logo:hover {
  transform: scale(1.2);
}

/* PROYECTOS SECCON */

.proyectos {
  padding: 5rem 0rem;
  display: flex;
  gap: 2rem;
  flex-direction: column;
  justify-content: start;
}

.proyectos h2 {
  font-size: 2rem;
  color: #ffffff;
  text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.7);
  position: relative;
  margin-bottom: 2rem;
}

.proyectos h2::after {
  content: '';
  display: block;
  width: 70%;
  height: 4px;
  background-color: #3E5066;
  margin: 0.5rem auto 0;
  border-radius: 2px;
}

.tarjeta-grid {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
  row-gap: 30px;
  flex-wrap: wrap;
}

.tarjeta-contenedor {
  /* color: #0e141b; */
  color: #d0d0d0;
  background-color: #3E5066;
  padding: 0px 20px 0px;
  width: 250px;
  height: 350px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  border-radius: 20px;
  transition: transform 200ms ease;
  box-shadow: 0 4px 8px rgba(255, 255, 255, 0.2);
  
}

.tarjeta-contenedor:hover {
  transform: scale(1.1);
  /* box-shadow: 0 6px 12px rgba(255, 255, 255, 0.3); */
  box-shadow: 0 8px 16px rgba(255, 255, 255, 0.25);
}

.tarjeta-imagen-contenedor {
  overflow: hidden;
  border-radius: 10px 10px 0px 0px;
}

.tarjeta-imagen {
  width: 100%;
  aspect-ratio: 16/9;
} 

.tarjeta-texto-contenedor {
  display: flex;
  flex-direction: column;
}

.tarjeta-texto-contenedor h3 {
  margin-bottom: 10px;
  text-transform: uppercase;
}

.iconos-contenedor {
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}

.icono-github {
  width: 3rem;
  height: 3rem;
} 

.icono-deploy {
  width: 3rem;
  height: 3rem;
} 


/* FOOTER SECCION */
.footer {
  text-align: center;
  padding: 5rem 0rem;
  display: flex;
  gap: 2rem;
  flex-direction: column;
  justify-content: start;
}

.footer h2 {
  font-size: 2rem;
  color: #ffffff;
  text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.7);
  position: relative;
}

.footer h2::after {
  content: '';
  display: block;
  width: 55%;
  height: 4px;
  background-color: #3E5066;
  margin: 0.5rem auto 0;
  border-radius: 2px;
}

.contactame-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem ;
}

.contactame-logo-container {
  width: 60px;
  height: 60px;
  overflow: hidden;
  transition: transform 200ms ease;
}

.contactame-logo-container a {
  text-decoration: none;
  color: inherit;
}

.contactame-logo-container:hover{
  transform: scale(1.2);
}


.contactame-logo-container img {
  width: 100%;
  height: 100%;
}





/* MEDIA QUERYS */

/* HEADER */

/* Mostrar el label cuando el ancho de pantalla es igual o menor a 600px */
@media (max-width:  600px) {

  .header {
    padding: 0;
  }

  .navbar {
    padding: 1rem 1.5rem;
  }

  .label-contenedor {
    display: block;
    display: flex;
    align-items: center;
    justify-content:flex-start;
  }

  .label-checkbox {
    display: block;
  }

  .checkbox {
    display: none;
  }
  

  /* Mostrar el menú cuando el checkbox está marcado */
  #menu-toggle:checked + .menu-contenedor {
    top: 0;
  }

    #menu-toggle:checked ~ .label-checkbox {
    display: block;
  }

}

@media (width <= 600px) {
  .navbar_image-content-text {
    display: none;
  }

  .navbar_list {
    display: none;
  }
}


/* CONTENT */

@media (width <= 600px) {

  .content {
    padding-top: 6rem;
  }

  .description {
    padding: 2rem 0;
  }

  .h1-title {
    font-size: 3.5rem;
  }

  .red-text {
    font-size: 1rem;
  }
  
  .own-description {
    font-size: 1.5rem;
    line-height: 2.2rem;
  }

  .description-img-container {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    overflow: hidden; 
    overflow: hidden;
  }


  /* TECNOLOGIAS */

  .tecnologias {
    padding: 3rem 0 3rem;
  }

  .tecnologias-container {
    row-gap: 2rem;
    column-gap: 1rem;
  }

  .tecnologias-logo {
    width: 80px;
    height: 80px;
    transition: transform 200ms ease;
  }


  /* PROYECTOS */

  .proyectos {
    padding: 3rem;
    margin-bottom: 2rem;
  }


}